<mat-toolbar color="primary" class="mat-elevation-z4 toolbar">
    
    <div class="icon-text-container">
        <mat-icon color="warn">directions_car</mat-icon>
        <span class="bold-text">Auto</span>
        <span>Alert</span>
      </div>

    <div class="spacer"></div>

    <a mat-button color="warn">Inicio</a>
    <a mat-button>Alertas</a>
    <a mat-button>Registro de piezas</a>
    <a mat-button>Reportes</a>
    <a mat-button>Proveedores</a>
    <a mat-button>Administración</a>
    <a class="super-button" color="warn" mat-raised-button >Iniciar Sesión</a>

  </mat-toolbar>
