<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>Agregar evidencias</title>
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="card-body mt-4" style="max-width: 60rem; margin-left: 2rem">
        <h2 class="card-title">Agregar Nueva Evidencia</h2>
        <div id="section1">
          <form class="form mt-4" id="form1" method="">
            <div class="mb-3">
              <label for="vin" class="form-label">Archvio</label>
              <input type="file" class="form-control" id="vin" name="vin" />
            </div>

            <div class="mb-3">
              <label for="vin" class="form-label">Descripción</label>
              <input type="text" class="form-control" id="vin" name="vin" />
            </div>

            <div class="mb-3">
              <label for="vin" class="form-label">ID Responsable</label>
              <input type="number" class="form-control" id="vin" name="vin" />
            </div>

            <div class="mb-3">
              <label for="descripcion" class="form-label">Estado</label>
              <select class="form-select" id="descripcion" name="descripcion">
                <option class="form-label" disabled selected>
                  Elige una opción
                </option>
                <option>Subject 1</option>
                <option>Subject 2</option>
                <option>Subject 3</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="fechaFabricacion" class="form-label"
                >Fecha de la evidencia</label
              >
              <div class="input-group">
                <input
                  type="date"
                  class="form-control"
                  id="fechaFabricacion"
                  name="fechaFabricacion"
                />
                <span class="input-group-text">
                  <i class="zmdi zmdi-calendar-note"></i>
                </span>
              </div>
            </div>

            <div class="mt-4">
              
              <a href="#/home/evidence" type="submit" class="btn btn-danger mx-auto">Regresar</a>
              <a>&nbsp;</a>
              <a href="#/home/evidence" class="btn btn-danger mx-auto">Guardar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
