<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="card-body mt-5" style="max-width: 60rem; margin-left: 2rem;">
            <h2 class="card-title">Registrar nuevo proveedor</h2>
            <div>
                <form class="form mt-4" id="form1" method="">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Tipo</label>
                        <select class="form-select" id="type" name="type">
                            <option class="form-label" disabled selected>Elige una opción</option>
                            <option>Tipo 1</option>
                            <option>Tipo 2</option>
                            <option>Tipo 3</option>
                        </select>
                    </div>
                    <div class="mb-3">
                      <label for="country" class="form-label">País</label>
                      <select class="form-select" id="country" name="country">
                          <option class="form-label" disabled selected>Elige una opción</option>
                          <option>País 1</option>
                          <option>País 2</option>
                          <option>País 3</option>
                      </select>
                  </div>
                  <div class="mb-3">
                    <label for="city" class="form-label">Ciudad</label>
                    <select class="form-select" id="city" name="city">
                        <option class="form-label" disabled selected>Elige una opción</option>
                        <option>Ciudad 1</option>
                        <option>Ciudad 2</option>
                        <option>Ciudad 3</option>
                    </select>
                  </div>
                <div class="mb-4">
                  <label for="address" class="form-label">Dirección</label>
                  <input type="text" class="form-control" id="address" name="address">
                </div>
                <h2 class="card-title">Información de contacto</h2>
                <div class="mb-3">
                  <label for="email" class="form-label">Correo electronico</label>
                  <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Nombres</label>
                  <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label">Apellidos</label>
                  <input type="text" class="form-control" id="lastname" name="lastname">
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">Teléfono</label>
                  <input type="text" class="form-control" id="phone" name="phone">
                </div>
                    <div class="mt-4" >
                      <a href="home/supplier" type="submit" class="btn btn-danger mx-auto">Guardar</a>
                      <a>&nbsp;</a>
                        <a href="home/supplier" type="submit" class="btn btn-danger mx-auto">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
